<!DOCTYPE html>
<html>
  <%= render_partial("layouts/_head.html.erb") %>
  <body>
    <div id="container">
      <%= render_partial("layouts/_navbar.html.erb") %>
      <h1>Articles</h1>
      <p>
        <%= pluralize(@articles.count, "Article", "Articles") %> | 
        <a href="/articles/new">Create a new article</a></p>
      <hr>      
      <% @articles.each do |article| %>
        <h3><a href="/articles/<%= article.id %>"><%= titleize(article.title) %></a></h3>
        <div><%= article.content %></div>
        <hr>
      <% end %>
    </div>
  </body>
</html>